Hackathon food data analysis

Import Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

Read the Data

In [3]:
df=pd.read_csv('/content/drive/MyDrive/restaurant_data.csv', encoding='cp437',sep=',',engine='python')
df

,address,name,online_order,book_table,rate,no_of_votes,Mobile,location,rest_type,dish_liked,...,Unnamed: 4149,Unnamed: 4150,Unnamed: 4151,Unnamed: 4152,Unnamed: 4153,Unnamed: 4154,Unnamed: 4155,Unnamed: 4156,Unnamed: 4157,Unnamed: 4158
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43996,"Cunningham Road, Bangalore",Kettle & Kegs,Yes,No,NaN,0,1.80E+11,Cunningham Road,Delivery,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43997,"36, Vittal Mallya Road, Lavelle Road, Bangalore",Bootlegger,No,No,4.1 /5,1545,+91 8022290099\n+91 8041462747,Lavelle Road,Pub,"Beer, Cocktails, Beef Steak, Beef Chilli, Nach...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43998,"L1-08 Skywalk, 5/1, Near Body Craft, Assaye Ro...",The Souk,Yes,No,3.7 /5,66,+91 9846709999,Ulsoor,Cafe,"Mediterranean Platter, Brownie, Pasta, Burgers...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43999,"145, 8th Main Road, Vasanth Nagar, Bangalore",Donne Biryani Hatti,Yes,No,3.6 /5,28,+91 9916108575,Vasanth Nagar,Quick Bites,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44000,"57/1, 1st Floor, Jayalaxmi Chambers, Next to O...",Meghana Foods,Yes,No,4.3 /5,2151,080 41308080\n080 41487070,Residency Road,Casual Dining,"Chicken Boneless Biryani, Mutton Biryani, Andh...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_new = df.iloc[:, 0:16]
df_new

,address,name,online_order,book_table,rate,no_of_votes,Mobile,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",?800.00,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",?800.00,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",?800.00,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",?300.00,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",?600.00,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43996,"Cunningham Road, Bangalore",Kettle & Kegs,Yes,No,NaN,0,1.80E+11,Cunningham Road,Delivery,NaN,"Tea, Beverages",?200.00,"[('Rated 1.0', 'RATED\n Super unprofessional!...",[],Delivery,Lavelle Road
43997,"36, Vittal Mallya Road, Lavelle Road, Bangalore",Bootlegger,No,No,4.1 /5,1545,+91 8022290099\n+91 8041462747,Lavelle Road,Pub,"Beer, Cocktails, Beef Steak, Beef Chilli, Nach...","Continental, Steak","?1,200.00","[('Rated 2.0', 'RATED\n Bootlegger is undoubt...",[],Delivery,Lavelle Road
43998,"L1-08 Skywalk, 5/1, Near Body Craft, Assaye Ro...",The Souk,Yes,No,3.7 /5,66,+91 9846709999,Ulsoor,Cafe,"Mediterranean Platter, Brownie, Pasta, Burgers...","Cafe, Mediterranean, Italian, Pizza, Continental",?800.00,"[('Rated 3.0', 'RATED\n A small space, with a...",[],Delivery,Lavelle Road
43999,"145, 8th Main Road, Vasanth Nagar, Bangalore",Donne Biryani Hatti,Yes,No,3.6 /5,28,+91 9916108575,Vasanth Nagar,Quick Bites,NaN,Biryani,?300.00,"[('Rated 1.0', 'RATED\n I never got the order...",[],Delivery,Lavelle Road
44000,"57/1, 1st Floor, Jayalaxmi Chambers, Next to O...",Meghana Foods,Yes,No,4.3 /5,2151,080 41308080\n080 41487070,Residency Road,Casual Dining,"Chicken Boneless Biryani, Mutton Biryani, Andh...","Biryani, Andhra, North Indian, Seafood",?600.00,"[('Rated 4.0', 'RATED\n Went with colleagues ...",NaN,NaN,NaN

In [5]:
df.info

<bound method DataFrame.info of                                                  address  \
0      942, 21st Main Road, 2nd Stage, Banashankari, ...
1      2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...
2      1112, Next to KIMS Medical College, 17th Cross...
3      1st Floor, Annakuteera, 3rd Stage, Banashankar...
4      10, 3rd Floor, Lakshmi Associates, Gandhi Baza...
...                                                  ...
43996                         Cunningham Road, Bangalore
43997    36, Vittal Mallya Road, Lavelle Road, Bangalore
43998  L1-08 Skywalk, 5/1, Near Body Craft, Assaye Ro...
43999       145, 8th Main Road, Vasanth Nagar, Bangalore
44000  57/1, 1st Floor, Jayalaxmi Chambers, Next to O...

                        name online_order book_table    rate no_of_votes  \
0                      Jalsa          Yes        Yes   4.1/5         775
1             Spice Elephant          Yes         No   4.1/5         787
2            San Churro Cafe          Yes         No   3.8/5         918
3      Addhuri Udupi Bhojana           No         No   3.7/5          88
4              Grand Village           No         No   3.8/5         166
...                      ...          ...        ...     ...         ...
43996          Kettle & Kegs          Yes         No     NaN           0
43997             Bootlegger           No         No  4.1 /5        1545
43998               The Souk          Yes         No  3.7 /5          66
43999    Donne Biryani Hatti          Yes         No  3.6 /5          28
44000          Meghana Foods          Yes         No  4.3 /5        2151

                                 Mobile         location            rest_type  \
0        080 42297555\r\n+91 9743772233     Banashankari        Casual Dining
1                          080 41714161     Banashankari        Casual Dining
2                        +91 9663487993     Banashankari  Cafe, Casual Dining
3                        +91 9620009302     Banashankari          Quick Bites
4      +91 8026612447\r\n+91 9901210005     Basavanagudi        Casual Dining
...                                 ...              ...                  ...
43996                          1.80E+11  Cunningham Road             Delivery
43997    +91 8022290099\n+91 8041462747     Lavelle Road                  Pub
43998                    +91 9846709999           Ulsoor                 Cafe
43999                    +91 9916108575    Vasanth Nagar          Quick Bites
44000        080 41308080\n080 41487070   Residency Road        Casual Dining

                                              dish_liked  ... Unnamed: 4149  \
0      Pasta, Lunch Buffet, Masala Papad, Paneer Laja...  ...           NaN
1      Momos, Lunch Buffet, Chocolate Nirvana, Thai G...  ...           NaN
2      Churros, Cannelloni, Minestrone Soup, Hot Choc...  ...           NaN
3                                            Masala Dosa  ...           NaN
4                                    Panipuri, Gol Gappe  ...           NaN
...                                                  ...  ...           ...
43996                                                NaN  ...           NaN
43997  Beer, Cocktails, Beef Steak, Beef Chilli, Nach...  ...           NaN
43998  Mediterranean Platter, Brownie, Pasta, Burgers...  ...           NaN
43999                                                NaN  ...           NaN
44000  Chicken Boneless Biryani, Mutton Biryani, Andh...  ...           NaN

      Unnamed: 4150 Unnamed: 4151 Unnamed: 4152 Unnamed: 4153 Unnamed: 4154  \
0               NaN           NaN           NaN           NaN           NaN
1               NaN           NaN           NaN           NaN           NaN
2               NaN           NaN           NaN           NaN           NaN
3               NaN           NaN           NaN           NaN           NaN
4               NaN           NaN           NaN           NaN           NaN
...             ...           ...           ...           ...           ...
43996           NaN           NaN           NaN           NaN           NaN
43997           NaN           NaN           NaN           NaN           NaN
43998           NaN           NaN           NaN           NaN           NaN
43999           NaN           NaN           NaN           NaN           NaN
44000           NaN           NaN           NaN           NaN           NaN

      Unnamed: 4155 Unnamed: 4156 Unnamed: 4157 Unnamed: 4158
0               NaN           NaN           NaN           NaN
1               NaN           NaN           NaN           NaN
2               NaN           NaN           NaN           NaN
3               NaN           NaN           NaN           NaN
4               NaN           NaN           NaN           NaN
...             ...           ...           ...           ...
43996           NaN           NaN           NaN           NaN
43997           NaN           NaN           NaN           NaN
43998           NaN           NaN           NaN           NaN
43999           NaN           NaN           NaN           NaN
44000           NaN           NaN           NaN           NaN

[44001 rows x 4159 columns]>

In [6]:
df.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'no_of_votes',
       'Mobile', 'location', 'rest_type', 'dish_liked',
       ...
       'Unnamed: 4149', 'Unnamed: 4150', 'Unnamed: 4151', 'Unnamed: 4152',
       'Unnamed: 4153', 'Unnamed: 4154', 'Unnamed: 4155', 'Unnamed: 4156',
       'Unnamed: 4157', 'Unnamed: 4158'],
      dtype='object', length=4159)

In [7]:
df.drop(df.iloc[:, 15:], inplace=True, axis=1)

In [8]:
df

,address,name,online_order,book_table,rate,no_of_votes,Mobile,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",?800.00,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",?800.00,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",?800.00,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",?300.00,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",?600.00,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43996,"Cunningham Road, Bangalore",Kettle & Kegs,Yes,No,NaN,0,1.80E+11,Cunningham Road,Delivery,NaN,"Tea, Beverages",?200.00,"[('Rated 1.0', 'RATED\n Super unprofessional!...",[],Delivery
43997,"36, Vittal Mallya Road, Lavelle Road, Bangalore",Bootlegger,No,No,4.1 /5,1545,+91 8022290099\n+91 8041462747,Lavelle Road,Pub,"Beer, Cocktails, Beef Steak, Beef Chilli, Nach...","Continental, Steak","?1,200.00","[('Rated 2.0', 'RATED\n Bootlegger is undoubt...",[],Delivery
43998,"L1-08 Skywalk, 5/1, Near Body Craft, Assaye Ro...",The Souk,Yes,No,3.7 /5,66,+91 9846709999,Ulsoor,Cafe,"Mediterranean Platter, Brownie, Pasta, Burgers...","Cafe, Mediterranean, Italian, Pizza, Continental",?800.00,"[('Rated 3.0', 'RATED\n A small space, with a...",[],Delivery
43999,"145, 8th Main Road, Vasanth Nagar, Bangalore",Donne Biryani Hatti,Yes,No,3.6 /5,28,+91 9916108575,Vasanth Nagar,Quick Bites,NaN,Biryani,?300.00,"[('Rated 1.0', 'RATED\n I never got the order...",[],Delivery
44000,"57/1, 1st Floor, Jayalaxmi Chambers, Next to O...",Meghana Foods,Yes,No,4.3 /5,2151,080 41308080\n080 41487070,Residency Road,Casual Dining,"Chicken Boneless Biryani, Mutton Biryani, Andh...","Biryani, Andhra, North Indian, Seafood",?600.00,"[('Rated 4.0', 'RATED\n Went with colleagues ...",NaN,NaN

In [9]:
df.shape

(44001, 15)

In [10]:
df.describe()

,address,name,online_order,book_table,rate,no_of_votes,Mobile,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
count,41027,41028,41028,41005,35371,40992,40167,40961,40806,20279,40921,40745,40936,37990,37984
unique,10670,9512,1864,2031,2049,4000,13523,2087,2082,6136,4333,2045,18540,8221,1962
top,('Rated 4.0',('Rated 4.0',Yes,No,3.9/5,0,('Rated 4.0',BTM,Quick Bites,('Rated 4.0',North Indian,?300.00,[],[],Delivery
freq,555,193,23422,33501,2098,7511,271,5118,14249,257,2131,5690,5584,26714,18665

In [11]:
df.isnull().sum()

address                         2974
name                            2973
online_order                    2973
book_table                      2996
rate                            8630
no_of_votes                     3009
Mobile                          3834
location                        3040
rest_type                       3195
dish_liked                     23722
cuisines                        3080
approx_cost(for two people)     3256
reviews_list                    3065
menu_item                       6011
listed_in(type)                 6017
dtype: int64

In [12]:
df.dropna(inplace =True)

In [13]:
df.isnull().sum()

address                        0
name                           0
online_order                   0
book_table                     0
rate                           0
no_of_votes                    0
Mobile                         0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
menu_item                      0
listed_in(type)                0
dtype: int64

After cleaning data

In [14]:
df

,address,name,online_order,book_table,rate,no_of_votes,Mobile,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",?800.00,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",?800.00,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",?800.00,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",?300.00,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",?600.00,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43992,\nI placed an order with the Ulsoor branch at...,and got a call from the delivery boy saying h...,and now I have been refused service,The number registered under Crunch Pizza Ulso...,but for the delivery boy. \n\nHave my money r...,get your shit together!'),('Rated 1.0',"""""RATED\n My friends and I used to order fro...",although they were late they always delivered...,their number doesn't work. Extremely disappoi...,('Rated 1.0',"""""RATED\n Worst placed to order. Please do n...",paid the money,got a notification from zomato saying the foo...,but when you call the restaurant it says numb...
43993,"42 Vittal Mallya Road, Lavelle Road, Bangalore",GMT - Gelateria Montecatini Terme,Yes,No,4.4 /5,69,+91 6362639121\n+91 9008044368,Lavelle Road,Quick Bites,"Irish Coffee, Gelato Ice Cream, Italian Icecre...","Desserts, Ice Cream",?300.00,"[('Rated 4.0', 'RATED\n We had a wonderful ti...",[],Delivery
43995,"Sree Kanteerava Outdoor Stadium Main Gate, Kas...",Konark Vegetarian Restaurant,No,No,3.9 /5,156,+91 9481528812\n+91 8022248812,Lavelle Road,Casual Dining,"Chaat, Pav Bhaji, Vada, Vegetarian, Masala Dos...","North Indian, Chinese, Continental, South Indian",?600.00,"[('Rated 4.0', ""RATED\n I can't remember numb...",[],Delivery
43997,"36, Vittal Mallya Road, Lavelle Road, Bangalore",Bootlegger,No,No,4.1 /5,1545,+91 8022290099\n+91 8041462747,Lavelle Road,Pub,"Beer, Cocktails, Beef Steak, Beef Chilli, Nach...","Continental, Steak","?1,200.00","[('Rated 2.0', 'RATED\n Bootlegger is undoubt...",[],Delivery
43998,"L1-08 Skywalk, 5/1, Near Body Craft, Assaye Ro...",The Souk,Yes,No,3.7 /5,66,+91 9846709999,Ulsoor,Cafe,"Mediterranean Platter, Brownie, Pasta, Burgers...","Cafe, Mediterranean, Italian, Pizza, Continental",?800.00,"[('Rated 3.0', 'RATED\n A small space, with a...",[],Delivery

In [15]:
df['approx_cost(for two people)']=df['approx_cost(for two people)'].apply(lambda x:x.replace('?',''))
df['approx_cost(for two people)']

0                                                   800.00
1                                                   800.00
2                                                   800.00
3                                                   300.00
4                                                   600.00
                               ...
43992     ""RATED\n  Worst placed to order. Please do n...
43993                                               300.00
43995                                               600.00
43997                                             1,200.00
43998                                               800.00
Name: approx_cost(for two people), Length: 17127, dtype: object

In [16]:
df

,address,name,online_order,book_table,rate,no_of_votes,Mobile,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.00,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.00,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.00,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.00,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.00,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43992,\nI placed an order with the Ulsoor branch at...,and got a call from the delivery boy saying h...,and now I have been refused service,The number registered under Crunch Pizza Ulso...,but for the delivery boy. \n\nHave my money r...,get your shit together!'),('Rated 1.0',"""""RATED\n My friends and I used to order fro...",although they were late they always delivered...,their number doesn't work. Extremely disappoi...,('Rated 1.0',"""""RATED\n Worst placed to order. Please do n...",paid the money,got a notification from zomato saying the foo...,but when you call the restaurant it says numb...
43993,"42 Vittal Mallya Road, Lavelle Road, Bangalore",GMT - Gelateria Montecatini Terme,Yes,No,4.4 /5,69,+91 6362639121\n+91 9008044368,Lavelle Road,Quick Bites,"Irish Coffee, Gelato Ice Cream, Italian Icecre...","Desserts, Ice Cream",300.00,"[('Rated 4.0', 'RATED\n We had a wonderful ti...",[],Delivery
43995,"Sree Kanteerava Outdoor Stadium Main Gate, Kas...",Konark Vegetarian Restaurant,No,No,3.9 /5,156,+91 9481528812\n+91 8022248812,Lavelle Road,Casual Dining,"Chaat, Pav Bhaji, Vada, Vegetarian, Masala Dos...","North Indian, Chinese, Continental, South Indian",600.00,"[('Rated 4.0', ""RATED\n I can't remember numb...",[],Delivery
43997,"36, Vittal Mallya Road, Lavelle Road, Bangalore",Bootlegger,No,No,4.1 /5,1545,+91 8022290099\n+91 8041462747,Lavelle Road,Pub,"Beer, Cocktails, Beef Steak, Beef Chilli, Nach...","Continental, Steak","1,200.00","[('Rated 2.0', 'RATED\n Bootlegger is undoubt...",[],Delivery
43998,"L1-08 Skywalk, 5/1, Near Body Craft, Assaye Ro...",The Souk,Yes,No,3.7 /5,66,+91 9846709999,Ulsoor,Cafe,"Mediterranean Platter, Brownie, Pasta, Burgers...","Cafe, Mediterranean, Italian, Pizza, Continental",800.00,"[('Rated 3.0', 'RATED\n A small space, with a...",[],Delivery

Data Analysis

In [17]:
df['name'].describe()

count             17127
unique             4702
top        ('Rated 4.0'
freq                190
Name: name, dtype: object

In [18]:
df['location'].describe()

count     17127
unique     2044
top         BTM
freq       1319
Name: location, dtype: object

In [19]:
df['online_order'].describe()

count     17127
unique     1787
top         Yes
freq      10711
Name: online_order, dtype: object

In [20]:
df[(df['online_order']=='Yes')].count()

address                        10711
name                           10711
online_order                   10711
book_table                     10711
rate                           10711
no_of_votes                    10711
Mobile                         10711
location                       10711
rest_type                      10711
dish_liked                     10711
cuisines                       10711
approx_cost(for two people)    10711
reviews_list                   10711
menu_item                      10711
listed_in(type)                10711
dtype: int64

In [21]:
df[(df['online_order']=='No')].count()

address                        3568
name                           3568
online_order                   3568
book_table                     3568
rate                           3568
no_of_votes                    3568
Mobile                         3568
location                       3568
rest_type                      3568
dish_liked                     3568
cuisines                       3568
approx_cost(for two people)    3568
reviews_list                   3568
menu_item                      3568
listed_in(type)                3568
dtype: int64

In [22]:
df['book_table'].describe()

count     17127
unique     1969
top          No
freq      11223
Name: book_table, dtype: object

In [23]:
df['rate'].describe()

count     17127
unique     1993
top       3.9/5
freq       1587
Name: rate, dtype: object

In [24]:
df['no_of_votes'].describe()

count             17127
unique             3508
top        ('Rated 4.0'
freq                247
Name: no_of_votes, dtype: object

In [25]:
df['rest_type'].describe()

count             17127
unique             2018
top       Casual Dining
freq               4599
Name: rest_type, dtype: object

In [26]:
df['cuisines'].describe()

count            17127
unique            3336
top       North Indian
freq               714
Name: cuisines, dtype: object

In [27]:
df['approx_cost(for two people)'].describe()

count      17127
unique      2009
top       400.00
freq        1732
Name: approx_cost(for two people), dtype: object

In [28]:
df['location'].values

array(['Banashankari', 'Banashankari', 'Banashankari', ...,
       'Lavelle Road', 'Lavelle Road', 'Ulsoor'], dtype=object)

In [29]:
df['rest_type'].values

array(['Casual Dining', 'Casual Dining', 'Cafe, Casual Dining', ...,
       'Casual Dining', 'Pub', 'Cafe'], dtype=object)

Data Visualization

bar plot

In [ ]:
crosstb = pd.crosstab(df.location,df.rate)
barplot = crosstb.plot.bar()

In [ ]:
crosstb = pd.crosstab(df.location,df.online_order)
barplot = crosstb.plot.bar()

In [ ]:
crosstb = pd.crosstab(df.location,df.book_table)
barplot = crosstb.plot.bar()

In [ ]:
crosstb = pd.crosstab(df.online_order,df.rate)
barplot = crosstb.plot.bar()